{% load static %}
<!doctype html>4
<html lang="en">
  {% include "head.html" %}
  <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
        <img src="{% static 'images/sphenix-logo-black-bg.png' %}" height="40">&nbsp;&nbsp; PC2S
      </a>

    {% if show_query %}
    <form class="w-100">
      <div style="width:100%; display: flex;">
      <input id="query" name="namepattern" class="form-control form-control-dark w-100" type="text" placeholder="{{search}}" aria-label="Search">
      <input type="submit" style="display: none" />

      {% include "selector.html" %}

      <input type="submit" class="w-auto"/>
      </div> 
    </form>
    {% endif %} 
      <!-- ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul -->
    </nav>

    <div class="container-fluid">
      <div class="row">
	
	{% include "sidebar.html" %}

	
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
	  
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3"><!-- border-bottom" -->
          <h3 class="h3">{{ header }}</h3>
        
        </div>

          {% block content %}
          {% endblock %}


      </main>
	
      </div>
    </div>

    {% include "instrumentation.html" %}
  </body>
</html>
