{% load static %}
<!doctype html>4
<html lang="en">
  {% include "head.html" %}
  <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
        <img src="{% static 'images/sphenix-logo-black-bg.png' %}" height="50">&nbsp;&nbsp; PC2S
      </a>
      

      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
	
	{% include "sidebar.html" %}

	
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
	  

          {% block content %}
          {% endblock %}
                
    	  <hr/>

      </main>
	
      </div>
    </div>

    {% include "instrumentation.html" %}
  </body>
</html>
