
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      
      <!-- li class="nav-item">
        <a class="nav-link active" href="/">
          <span data-feather="home"></span>
        <span class="sr-only">(current)</span>  Dashboard 
        </a>
      </li -->

      <li class="nav-item">&nbsp;</li>
      <li class="nav-item">&nbsp;</li>      
    
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home"></span>
        Home 
        </a>
      </li>

   
      <li class="nav-item">
        <a class="nav-link" href="globaltags">
          <span data-feather="globe"></span>
          Global Tags
        </a>
      </li>

      <!-- li class="nav-item">
        <a class="nav-link" href="globaltagmaps">
          <span data-feather="map"></span>
          Tag Maps
        </a>
      </li -->

      <li class="nav-item">
        <a class="nav-link" href="tags">
          <span data-feather="tag"></span>
          Tags
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/stats">
          <span data-feather="bar-chart-2"></span>
          System Stats
        </a>
      </li>      

      <li><hr style="border-width: 3px;"></li>
      <li class="nav-item">
        <a class="nav-link" href="about">
          <span data-feather="info"></span>
          About
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link" href="clients">
          <span data-feather="monitor"></span>
          Python Interface
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="cpp">
          <span data-feather="grid"></span>
          C++ Interface
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="examples">
          <span data-feather="book-open"></span>
          CLI Examples
        </a>
      </li>

      <li><hr style="border-width: 3px;"></li> 
      <!-- li class="nav-item">
        <a class="nav-link" href="/ts">
          <span data-feather="bar-chart-2"></span>
          Time Series
        </a>
      </li -->
     
      <!-- li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="clock"></span>
          Recent Activity
        </a>
      </li -->
    </ul>

    <!-- cut: h6 Saved Reports (lower portion of the original bar) -->
  </div> <!-- sidebar-sticky -->
</nav>
