{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Test Page</h1>
</div>
{{ stuff }}
<br/>
<!-- select name="status" id="{{ selector_id }}" class="w-auto">
  <option value="" selected disabled>Filter by Status</option>
  <option value="NEW">New</option>
  <option value="PUB">Published</option>
  <option value="INV">Invalid</option>
</select>
<hr/ -->

<select name="status" id="{{ selector_id }}" class="w-auto">
{% for item in selector_items %}

{% if item.0 == "" %}
  {% if selected == "" %}
    <option value="" selected disabled>{{ item.1 }}</option>
  {% else %}
    <option value="" disabled>{{ item.1 }}</option>
  {% endif %}

{% else %}

  {% if selected == item.0 %}
    <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
  {% else %}
    <option value="{{ item.0 }}">{{ item.1 }}</option>
  {% endif %}

{% endif %}

{% endfor %}
</select>
{% endblock %}